@media only screen and (max-width: 991px) {
  .licenses-and-subscriptions {
    .main-heading {
      padding-top: 9.07rem;
    }
    .section-title {
      padding-top: 4.64rem;
    }
  }
  .optimize-pc {
    .banner {
      padding: 9.07rem 0 4.64rem 0;
    }
    .pricing-table {
      .pt-options .pt-option .heading {
        padding: 1.5rem 0rem 0.5625rem 0rem;
        h6 {
          font-size: 2.5rem;
        }
      }
    }
    .it-support {
      padding: 4.64rem 0;
    }
    .chat-and-fix-pc {
      padding: 4.64rem 0;
      .chat-box {
        padding: 3.6875rem 3.5rem;
      }
    }
  }
  .remote-formatting {
    .banner {
      padding: 9.07rem 0 18.375rem 0;
    }
    .play-btn-area {
      margin-top: -13.625rem;
    }
    .how-it-works,
    .customize-remote-formating {
      padding: 4.64rem 0;
    }
    .play-btn-area {
      margin-bottom: 4.64rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  /* Default CSS */
  .ptb-100 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .pt-100 {
    padding-top: 3.125rem;
  }
  .ptb-70 {
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
  }
  .pb-100 {
    padding-bottom: 3.125rem;
  }
  .pt-70 {
    padding-top: 1.875rem;
  }
  .pb-70 {
    padding-bottom: 1.25rem;
  }
  .pt-45 {
    padding-top: 1.875rem;
  }
  .ml-20 {
    margin-left: 0.625rem;
  }
  .ml-25 {
    margin-left: 0;
  }
  .mr-20 {
    margin-right: 0;
  }
  .mt-30 {
    margin-top: 0;
  }
  .section-title {
    span {
      font-size: 0.875rem;
    }
    h2 {
      font-size: 1.625rem;
      margin-top: 0;
    }
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
  h3 {
    font-size: 1.125rem;
  }
  /* Default CSS End */

  /* Top Header CSS */
  .top-left-side {
    text-align: center;
    .top-header-text {
      margin-left: auto;
      margin-right: auto;
      &::before {
        display: none;
      }
      p {
        font-size: 0.9375rem;
        margin-bottom: 0.3125rem;
      }
    }
  }
  .top-header-right {
    float: none;
    text-align: center;
    margin-top: 0.3125rem;
    .language-list {
      margin-left: 0;
      margin-right: 0;
      margin-top: 0.3125rem;
      &::before {
        display: none;
      }
    }
  }
  .top-head-left {
    margin-top: 0.1875rem;
    float: none;
    text-align: center;
  }
  /* Top Header CSS End */

  /* Navbar Area CSS  */
  .side-nav-responsive {
    display: block;
  }
  .d-display {
    display: none;
  }
  .mobile-nav {
    .logo {
      img {
        max-width: 8.75rem;
      }
    }
  }

  .search-overlay {
    .search-form {
      max-width: 100%;
      width: 100%;
      form {
        .input-search {
          height: 3.125rem;
          padding: 0 0 0 0.9375rem;
        }
        button {
          position: absolute;
          right: 0.3125rem;
          top: 0.3125rem;
          width: 2.5rem;
          height: 2.5rem;
          font-size: 1.125rem;
          line-height: 2.1875rem;
        }
      }
    }
  }
  /* Navbar Area CSS End */

  /* Main Banner Area CSS */
  .banner-slider-area {
    position: relative;
    .owl-dots {
      display: inline-block;
      right: 0;
      left: 0;
      top: auto;
      bottom: 3.4375rem;
      transform: translateY(-0%);
      .owl-dot {
        span {
          margin: 0.4375rem 0.4375rem;
          width: 1.875rem !important;
          height: 1.875rem !important;
        }
        &.active span {
          width: 1.875rem !important;
          height: 1.875rem !important;
        }
        &:hover span {
          width: 1.875rem !important;
          height: 1.875rem !important;
        }
      }
    }
  }
  .banner-item-content {
    padding-top: 8.75rem;
    padding-bottom: 8.125rem;
    span {
      font-size: 0.9375rem;
      font-weight: 600;
      padding: 0.5rem 0.9375rem;
    }
    h1 {
      max-width: 100%;
      font-size: 2.1875rem;
      margin-top: 1.5625rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1.5625rem;
    }
  }
  .banner-item-ptb {
    padding-top: 8.125rem;
    padding-bottom: 4.375rem;
    h1 {
      margin-top: 0;
    }
  }
  .banner-area {
    &::before {
      background-image: none;
      background-color: #000000;
      opacity: 0.6;
    }
  }
  .banner-content {
    padding-top: 7.5rem;
    margin-top: 0;
    margin-left: 0.5625rem;
    h1 {
      font-size: 2.1875rem;
      max-width: 100%;
    }
    p {
      font-size: 1rem;
      max-width: 100%;
    }
  }

  .banner-img {
    padding-top: 1.875rem;
    .banner-img-shape {
      display: none;
    }
  }
  .banner-sub-slider {
    margin-top: 1.875rem;
    padding-bottom: 4.375rem;
    .banner-sub-item {
      padding: 0.9375rem 0.625rem 0.9375rem 8.4375rem;
      max-width: 18.75rem;
      img {
        max-width: 6.6875rem;
      }
      .content {
        padding: 0.1875rem 0 0.4375rem;
        h3 {
          font-size: 2.1875rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
  /* Main Banner Area CSS End */

  /* Banner Bottom Area CSS */
  .banner-bottom-area {
    position: inherit;
    margin-top: 3.125rem;
  }

  .banner-bottom-card {
    position: relative;
    padding: 1.25rem 0.9375rem;
    text-align: center;
    i {
      position: inherit;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 0.625rem;
    }
  }
  /* Banner Bottom Area CSS End */

  .inner-banner {
    .inner-title {
      padding-top: 7.5rem;
      padding-bottom: 3.75rem;
      h3 {
        font-size: 1.875rem;
      }
    }
    .inner-shape {
      display: none;
    }
  }

  /* About Area CSS */
  .about-img {
    margin-top: 1.875rem;
    &::before {
      display: none;
    }
    .sub-content {
      padding: 0.9375rem 0.625rem 0.9375rem 9.0625rem;
      max-width: 18.4375rem;
      img {
        max-width: 6.6875rem;
      }
      .content {
        padding: 0.3125rem 0;
        h3 {
          font-size: 2.1875rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }

  .about-content {
    .about-list {
      margin: 1.25rem auto 0.625rem;
    }
    .section-title {
      h2 {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
      p {
        max-width: 100%;
      }
    }
    .about-list-2 {
      margin: 0 auto !important;
    }
    .about-content-card {
      margin-top: 1.25rem;
      i {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.125rem;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
  .about-content-2 {
    .about-card {
      margin-top: 1.25rem;
      .content {
        padding-top: 0;
        padding-left: 0;
        margin-bottom: 0;
        i {
          font-size: 2.5rem;
          position: inherit;
          top: 0;
          left: 0;
          right: 0;
        }
        h3 {
          margin-top: 0.9375rem;
          font-size: 1.125rem;
          margin-bottom: 0;
        }
      }
      p {
        margin-top: 0.9375rem;
        margin-bottom: 0;
        color: #ffffff;
        font-size: 0.875rem;
      }
    }
  }

  .about-play {
    margin-bottom: 1.875rem;
    img {
      border-radius: 0.625rem;
    }
    .about-play-content {
      margin-top: 1.875rem;
      position: inherit;
      background-color: #0071dc;
      border-radius: 0.625rem;
      padding: 2.5rem 1.875rem 3.75rem;
      max-width: 100%;
      text-align: center;
      &::before {
        display: none;
      }
      h2 {
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5rem;
      }
      .play-on-area {
        position: inherit;
        top: 0.9375rem;
        bottom: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        .play-on {
          width: 3.75rem;
          height: 3.75rem;
          font-size: 1.875rem;
          line-height: 4.0625rem;
        }
      }
    }
  }
  /* About Area CSS End */

  .choose-content {
    text-align: center;
    .choose-content-card {
      .content {
        padding-top: 0.625rem;
        padding-left: 0;
        i {
          position: inherit;
          top: 0;
          font-size: 2.8125rem;
        }
        h3 {
          margin-top: 0.8125rem;
          margin-bottom: 0.625rem;
          font-size: 1.125rem;
        }
      }
      p {
        font-size: 0.875rem;
      }
    }
  }

  .counter-content {
    h1 {
      font-size: 4.0625rem;
    }
    h3 {
      font-size: 1.125rem;
    }
  }

  .contact-info {
    padding: 1.875rem 0.9375rem 0.625rem;
    ul {
      li {
        margin-bottom: 1.25rem;
      }
    }
  }

  /* Security Area CSS */
  .security-card {
    padding: 1.875rem 1.25rem;
    i {
      width: 4.0625rem;
      height: 4.0625rem;
      line-height: 4.0625rem;
      font-size: 1.75rem;
    }
  }
  /* Security Area CSS End */

  .technology-card {
    i {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.125rem;
    }
  }

  /* Service Area CSS */
  .services-card {
    text-align: center;
  }
  .service-shape {
    display: none;
  }
  .services-item {
    text-align: center;
    .content {
      width: 95%;
      padding: 5.9375rem 1.25rem 1.25rem;
      i {
        display: inherit;
        top: 1.5625rem;
        left: 0;
        right: 0;
        text-align: center;
      }
      h3 {
        font-size: 1.125rem;
      }
    }
  }

  .service-article {
    .service-article-content {
      .service-article-rs {
        margin: 0 0 0.5rem;
      }
    }
  }
  /* Service Area CSS End */

  .case-study-item {
    .content {
      ul {
        li {
          font-size: 0.8125rem;
          &::before {
            width: 0.09375rem;
            height: 0.8125rem;
          }
        }
      }
    }
  }

  /* Blog Area CSS */

  .blog-article {
    .blog-article-title {
      ul {
        li {
          margin-right: 0.625rem;
          margin-bottom: 0.3125rem;
        }
      }
    }
    .article-content {
      .blockquote {
        margin-left: 0;
        padding: 1.25rem 1.875rem;
        i {
          display: none;
        }
      }
    }
    .blog-article-share {
      .blog-tag {
        ul {
          li {
            padding: 0.3125rem 0;
            margin-top: 0.3125rem;
            margin-bottom: 0.625rem;
            a {
              padding: 0.375rem 0.75rem;
            }
          }
        }
      }
      .social-icon {
        float: none;
        margin-top: 0.3125rem;
        margin-bottom: 0.625rem;
      }
    }
    .comments-wrap {
      .comment-list {
        li {
          padding-left: 0;
          img {
            position: inherit;
            top: 0;
            left: 0;
            margin-bottom: 0.625rem;
          }
          h3 {
            font-size: 1.25rem;
            margin-bottom: 0.625rem;
          }
          p {
            margin-bottom: 0.625rem;
          }
          a {
            color: #0071dc;
            font-weight: 600;
            position: inherit;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  .blog-style-card {
    .content {
      ul {
        li {
          margin-right: 0.3125rem;
          i {
            margin-right: 0.3125rem;
          }
        }
      }
    }
  }

  .blog-card {
    .blog-img {
      .blog-tag {
        padding: 0.625rem 0.4375rem;
        h3 {
          font-size: 0.875rem;
        }
      }
    }
    .content {
      ul {
        li {
          font-size: 0.875rem;
          i {
            font-size: 0.9375rem;
          }
        }
      }
      h3 {
        font-size: 1.3125rem;
      }
      .read-btn {
        font-size: 0.875rem;
      }
    }
  }
  /* Blog Area CSS End */

  /* Work Process Area CSS */
  .work-process-card {
    text-align: center;
  }
  .work-process-left {
    padding: 3.125rem 1.5625rem;
    text-align: center;
  }
  .work-process-area-two {
    position: relative;
    .col-lg-3 {
      &:nth-child(2) {
        .work-process-card {
          margin-top: 0;
        }
      }
    }
    .col-lg-3 {
      &:nth-child(4) {
        .work-process-card {
          margin-top: 0;
        }
      }
    }
  }
  .work-shape {
    display: none;
  }
  /* Work Process Area CSS End */

  .build-content {
    text-align: center;
  }
  .build-btn-area {
    float: none;
    text-align: center;
  }

  .case-article {
    .case-article-content {
      .case-article-rs {
        margin: 0 0 0.5rem;
      }
    }
  }
  /* Build Area CSS */
  .build-btn-area {
    float: none;
    margin-top: 1.25rem;
  }
  .build-item {
    .content {
      ul {
        li {
          font-size: 0.8125rem;
        }
      }
    }
  }
  .build-play-img {
    img {
      border-radius: 0.625rem;
    }
    .play-area-content {
      margin-top: 1.875rem;
      position: inherit;
      background-color: #0071dc;
      border-radius: 0.625rem;
      padding: 2.5rem 1.875rem;
      max-width: 100%;
      text-align: center;
      &::before {
        display: none;
      }
      h2 {
        font-size: 1.5rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .play-area {
      position: absolute;
      z-index: 1;
      top: 18%;
      bottom: auto;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      .play-on {
        width: 3.75rem;
        height: 3.75rem;
        font-size: 1.875rem;
        line-height: 3.9375rem;
      }
    }
  }
  .build-text {
    margin-bottom: 1.5625rem;
    margin-top: 1.25rem;
    text-align: center;
  }
  .play-btn-area {
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
  }
  /* Build Area CSS End */

  /* Counter Area CSS */
  .counter-shape {
    display: none;
  }
  .counter-content {
    h1 {
      font-size: 5.3125rem;
    }
  }
  .counter-another-content {
    margin-bottom: 1.25rem;
    padding-left: 0;
    position: relative;
    text-align: center;
    i {
      font-size: 2.5rem;
      position: inherit;
      right: 0;
    }
    h3 {
      font-size: 1.625rem;
      margin-top: 0.9375rem;
      margin-bottom: 0.3125rem;
    }
    span {
      font-size: 0.9375rem;
    }
  }
  /* Counter Area CSS End */

  .client-circle {
    display: none;
  }
  .clients-content {
    padding: 1.875rem 0.9375rem;
    iframe {
      max-width: 100%;
    }
  }
  .clients-area {
    .owl-nav {
      margin-top: 0;
      margin-bottom: 1.875rem;
      .owl-prev {
        top: auto;
        position: inherit;
        transform: translateY(-0%);
        left: 0;
        font-size: 1.25rem !important;
        bottom: -1.875rem;
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 3.125rem;
        line-height: 2.375rem !important;
      }
      .owl-next {
        top: auto;
        position: inherit;
        transform: translateY(-0%);
        right: 0;
        font-size: 1.25rem !important;
        bottom: -1.875rem;
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 3.125rem;
        line-height: 2.375rem !important;
      }
    }
  }

  .blog-card {
    .content {
      padding: 1.25rem;
    }
  }
  /* Error Area CSS */
  .error-area {
    height: 100vh;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    .error-content {
      h3 {
        margin-bottom: 0.625rem;
        font-size: 1.5625rem;
      }
      p {
        font-size: 1rem;
        padding: 0 0.9375rem;
      }
    }
  }
  /* Error Area CSS End */

  /* Coming Soon */
  .coming-soon-area {
    .coming-soon-content {
      padding-top: 1.875rem;
      padding-bottom: 1.25rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      h1 {
        font-size: 1.875rem;
        line-height: 1.1;
        margin-top: 0;
      }
      p {
        font-size: 0.875rem;
        margin-top: 0.9375rem;
      }
      #timer {
        margin-top: 1.875rem;
        div {
          font-size: 1.875rem;
          margin-left: 0.3125rem;
          margin-right: 0.3125rem;
          margin-bottom: 0.9375rem;
          span {
            font-size: 0.875rem;
            margin-top: -0.3125rem;
          }
          &::before {
            display: none;
          }
        }
      }
      .newsletter-form {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        .input-newsletter {
          height: 3.4375rem;
          padding-left: 0.8125rem;
          font-size: 0.9375rem;
        }
        button {
          position: relative;
          font-size: 0.875rem;
          margin-top: 0.9375rem;
          width: 100%;
          height: 3.125rem;
        }
      }
    }
  }
  /* Coming Soon End */

  /* Footer Area */
  .footer-widget {
    h3 {
      margin-bottom: 1.25rem;
    }
    .footer-call-content {
      max-width: 100%;
      h3 {
        font-size: 1.25rem;
      }
      i {
        top: 0.9375rem;
      }
    }
    p {
      max-width: 100%;
    }
  }
  /* Footer Area End */

  // internal css of index.html
  #remotocreativo,
  #servicios,
  #productos,
  #nosotros {
    padding-top: 6.25rem;
  }
  // internal css of index.html End

  // licenses-and-subscriptions page
  .licenses-and-subscriptions {
    // internal css of licenses-and-subscriptions.html
    .containerv {
      margin-top: -6.25rem;
      margin-bottom: -6.25rem;
      iframe {
        width: 40rem;
        height: 34.375rem;
      }
    }
    // internal css of licenses-and-subscriptions.html End
    .main-heading {
      font-size: 2.1875rem;
    }
    .section-title {
      padding-top: 2.8125rem;
    }
  }
  .optimize-pc {
    .banner {
      h1 {
        font-size: 3rem;
      }
    }
    .it-support {
      p {
        font-size: 1rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .pricing-table {
      padding: 0 1rem;
      .pt-options .pt-option {
        .heading {
          p.sub-title {
            font-size: 0.9rem;
          }
          h6 {
            font-size: 2rem;
          }
          .badge {
            font-size: 0.9rem;
          }
        }
        .get-started {
          padding: 2rem 0.5rem 1.25rem 0.5rem;
        }
        p.pt-row {
          padding: 0 0.5rem;
        }
      }
      .pt-title {
        min-width: 11.75rem;
        max-width: none;
        p {
          font-size: 0.9rem;
          padding: 0 0.5rem;
        }
      }
    }
  }
  .remote-formatting {
    .banner .main-heading {
      font-size: 3rem;
    }
    .banner .sub-heading {
      font-size: 1rem;
    }
  }
  .container {
    max-width: 640px;
  }
  footer {
    .footer-logo {
      padding: 2.1875rem 1rem;
      img {
        width: 10.9375rem;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .banner-item-content {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  // internal css of index.html
  .review-card .consumer-name {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    .review-text {
      font-size: 0.875rem;
    }
  }
  // internal css of index.html End

  // licenses-and-subscriptions page
  .licenses-and-subscriptions {
    .card img {
      width: 5rem;
    }

    .button_Act {
      margin-top: 1rem;
    }
  }
  .mobile-nav {
    .mobile-select-menu.select-menu {
      top: 1.0625rem;
    }
    .options {
      width: 9.0625rem;
    }
  }
  .optimize-pc {
    .banner {
      padding: 8.07rem 0 3.64rem 0;
      h1 {
        font-size: 2rem;
      }
    }
    .it-support {
      padding: 3.64rem 0;
      h3 {
        font-size: 1.8rem;
      }
    }
    .chat-and-fix-pc {
      padding: 3.64rem 0;
      .chat-box h3 {
        font-size: 1.8rem;
        p {
          font-size: 1rem;
        }
      }
    }
  }
  .remote-formatting {
    .banner {
      padding: 8.07rem 0 18.375rem 0;
      .main-heading {
        font-size: 2rem;
      }
    }
    .how-it-works,
    .customize-remote-formating {
      padding: 3.64rem 0;
      h3 {
        font-size: 2rem;
      }
    }
    .play-btn-area {
      margin-bottom: 3.64rem;
    }
  }
  footer {
    .footer-logo {
      img {
        width: 9.6875rem;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .licenses-and-subscriptions {
    // internal css of licenses-and-subscriptions.html
    .containerv {
      iframe {
        height: 28.125rem;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .default-btn {
    padding: 0.8375rem 1.2rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .build-play-img {
    .play-area {
      top: 27%;
    }
  }
  .blog-article {
    .blog-article-title {
      ul {
        li {
          margin-right: 0.625rem;
          margin-bottom: 0.3125rem;
        }
      }
    }
    .article-content {
      .blockquote {
        margin-left: 0;
        padding: 1.25rem 1.875rem;
        i {
          display: none;
        }
      }
    }
    .blog-article-share {
      .blog-tag {
        ul {
          li {
            padding: 0.3125rem 0;
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
      .social-icon {
        float: right;
        margin-bottom: 0;
      }
    }
  }

  /* Footer Area */
  .footer-widget {
    .footer-call-content {
      padding: 1.25rem 4.375rem 1.25rem 0.9375rem;
      h3 {
        font-size: 1rem;
      }
      i {
        top: 1.375rem;
        right: 0.9375rem;
        width: 2.8125rem;
        height: 2.8125rem;
        line-height: 2.8125rem;
        font-size: 1.5rem;
      }
      span {
        a {
          font-size: 0.8125rem;
        }
      }
    }
    .footer-blog {
      li {
        h3 {
          font-size: 0.9375rem;
        }
      }
    }
  }
  /* Footer Area End */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Default CSS */
  .ptb-100 {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .pt-100 {
    padding-top: 3.125rem;
  }
  .ptb-70 {
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
  }
  .pb-100 {
    padding-bottom: 3.125rem;
  }
  .pt-70 {
    padding-top: 1.875rem;
  }
  .pb-70 {
    padding-bottom: 1.25rem;
  }
  .pt-45 {
    padding-top: 1.875rem;
  }
  .mt-30 {
    margin-top: 0;
  }
  .ml-25 {
    margin-left: 0;
  }
  .ml-20 {
    margin-left: 0.625rem;
  }
  .mr-20 {
    margin-right: 0;
  }
  .default-btn {
    padding: 0.5rem 1.125rem;
  }
  .section-title {
    span {
      font-size: 0.875rem;
      list-style: 0;
      padding: 0;
      margin: 0;
    }
    h2 {
      font-size: 1.625rem;
      margin-top: 0;
    }
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
  h3 {
    font-size: 1.3125rem;
  }
  /* Default CSS End */

  .about-play {
    margin-bottom: 1.875rem;
  }
  .work-process-left {
    text-align: center;
  }
  .top-header-right {
    .language-list {
      margin-left: -0.9375rem;
    }
  }
  .about-content-2 {
    .section-title {
      h2,
      p {
        max-width: 100%;
      }
    }
  }

  /* Navbar Area CSS  */
  .side-nav-responsive {
    display: block;
  }
  .d-display {
    display: none;
  }
  .mobile-nav {
    .logo {
      img {
        max-width: 8.75rem;
      }
    }
  }
  /* Navbar Area CSS End */

  /* Main Banner Area CSS */
  .banner-slider-area {
    position: relative;
    .owl-dots {
      display: inline-block;
      right: 0;
      left: 0;
      top: auto;
      bottom: 3.4375rem;
      transform: translateY(-0%);
    }
  }
  .banner-item-content {
    padding-top: 13.75rem;
    padding-bottom: 13.75rem;
    text-align: center;
    span {
      font-size: 0.9375rem;
      font-weight: 600;
      padding: 0.5rem 0.9375rem;
    }
    h1 {
      font-size: 2.1875rem;
      max-width: 100%;
    }
    p {
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .banner-item-ptb {
    padding-top: 15.625rem;
    padding-bottom: 11.875rem;
  }
  .banner-content {
    padding-top: 7.5rem;
    margin-top: 0;
    text-align: center;
    h1 {
      font-size: 2.1875rem;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .banner-area {
    &::before {
      background-image: none;
      background-color: #000000;
      opacity: 0.6;
    }
  }

  .banner-img {
    padding-top: 1.875rem;
    .banner-img-shape {
      display: none;
    }
  }
  .banner-sub-slider {
    padding-bottom: 4.375rem;
  }
  /* Main Banner Area CSS End */

  /* Banner Bottom Area CSS */
  .banner-bottom-area {
    position: inherit;
    margin-top: 3.125rem;
  }

  .banner-bottom-card {
    position: relative;
    padding: 1.25rem 0.9375rem;
    text-align: center;
    i {
      position: inherit;
      top: 0;
      left: 0;
      right: 0;
      margin-bottom: 0.625rem;
    }
  }
  /* Banner Bottom Area CSS End */

  .inner-banner {
    .inner-title {
      h3 {
        font-size: 2.1875rem;
      }
    }
  }

  .about-img {
    margin-top: 1.875rem;
    &::before {
      right: -0.9375rem;
    }
  }

  .about-content {
    text-align: center;
    .section-title {
      h2 {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .about-content-2 {
    .section-title {
      p {
        margin-left: 0;
        margin-right: unset;
      }
    }
  }

  .services-card {
    padding: 1.875rem 1.875rem 1.5625rem;
  }
  .service-shape {
    display: none;
  }
  .services-item {
    text-align: center;
    .content {
      width: 90%;
      padding: 1.25rem 0.9375rem 1.25rem 5.75rem;

      h3 {
        font-size: 1.25rem;
      }
    }
  }

  .choose-content {
    .section-title {
      p {
        margin-left: 0;
        margin-right: unset;
      }
    }
  }

  .contact-info {
    padding: 2.5rem 1.25rem 0.625rem;
  }

  .work-process-card {
    padding: 1.875rem 2rem;
  }
  .work-process-left {
    padding: 3.125rem 1.875rem;
    .section-title {
      h2 {
        font-size: 1.5625rem;
      }
    }
  }
  .work-process-area-two {
    position: relative;
    .col-lg-3 {
      &:nth-child(2) {
        .work-process-card {
          margin-top: 0;
        }
      }
    }
    .col-lg-3 {
      &:nth-child(4) {
        .work-process-card {
          margin-top: 0;
        }
      }
    }
  }
  .work-shape {
    display: none;
  }

  .build-play-img {
    .play-area-content {
      padding: 6.25rem 4.375rem 4.0625rem 1.875rem;
      max-width: 20.625rem;
      &::before {
        width: 91%;
        height: 88.7%;
      }
      h2 {
        font-size: 1.75rem;
      }
    }
  }
  .play-area {
    bottom: 9.0625rem;
    left: 11.875rem;
  }

  .counter-shape {
    display: none;
  }
  .counter-content {
    h1 {
      font-size: 4.0625rem;
    }
    h3 {
      font-size: 1.125rem;
    }
  }

  .counter-another-content {
    margin-bottom: 1.25rem;
    padding-left: 0;
    position: relative;
    text-align: center;
    i {
      font-size: 2.8125rem;
      position: inherit;
      right: 0;
    }
    h3 {
      font-size: 1.875rem;
      margin-top: 0.9375rem;
      margin-bottom: 0.3125rem;
    }
    span {
      font-size: 0.9375rem;
    }
  }

  .client-circle {
    display: none;
  }
  .clients-area {
    .owl-nav {
      margin-top: 0;
      margin-bottom: 3.4375rem;
      .owl-prev {
        top: auto;
        position: inherit;
        font-size: 1.25rem !important;
        bottom: -1.875rem;
        transform: translateY(-0%);
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 3.125rem;
        line-height: 2.375rem !important;
      }
      .owl-next {
        top: auto;
        position: inherit;
        transform: translateY(-0%);
        font-size: 1.25rem !important;
        bottom: -1.875rem;
        width: 2.1875rem;
        height: 2.1875rem;
        border-radius: 3.125rem;
        line-height: 2.375rem !important;
      }
    }
  }

  /* Error Area CSS */
  .error-area {
    height: 100vh;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    .error-content {
      h3 {
        margin-bottom: 0.625rem;
        font-size: 1.5625rem;
      }
      p {
        font-size: 1rem;
        padding: 0 0.9375rem;
      }
    }
  }
  /* Error Area CSS End */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-nav {
    .navbar {
      .navbar-brand {
        img {
          max-width: 8.75rem;
        }
      }
    }
    nav {
      .navbar-nav {
        .nav-item {
          a {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .nav-side {
      .nav-side-item {
        margin-right: 0.625rem;
        .search-side-widget {
          max-width: 11.875rem;
        }
        .get-btn {
          .default-btn {
            padding: 0.5625rem 0.9375rem;
          }
        }
      }
    }
  }

  .top-left-side {
    .top-header-social {
      ul {
        li {
          a {
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.625rem;
            font-size: 1rem;
          }
        }
      }
    }
    .top-header-text {
      margin-left: 1.5625rem;
      &::before {
        left: -1rem;
        width: 0.0625rem;
        height: 1.25rem;
      }
      p {
        font-size: 0.8125rem;
      }
    }
  }
  .top-header-right {
    .top-contact {
      padding-left: 2.1875rem;
      i {
        font-size: 0.9375rem;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
      }
      h3 {
        font-size: 0.8125rem;
        color: #ffffff;
        margin-bottom: 0;
      }
    }
    .language-list {
      margin-left: -0.9375rem;
      top: -0.3125rem;
      .nice-select {
        font-size: 0.8125rem;
        &::after {
          font-size: 0.9375rem;
        }
      }
    }
  }

  .banner-slider-area {
    .owl-dots {
      top: 40%;
    }
  }

  .banner-item-content {
    max-width: 37.5rem;
    h1 {
      font-size: 3.4375rem;
    }
    p {
      font-size: 1.0625rem;
    }
  }
  .banner-bottom-card {
    padding: 1.875rem 1.25rem 1.875rem 6.25rem;
    i {
      position: absolute;
      top: 1.875rem;
      left: 1.25rem;
      font-size: 2.5rem;
      width: 4.0625rem;
      height: 4.0625rem;
      line-height: 4.0625rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }

  .banner-content {
    margin-top: -1.25rem;
    h1 {
      font-size: 2.75rem;
    }
  }
  .banner-sub-slider {
    margin-top: -3.125rem;
    .banner-sub-item {
      padding: 0.9375rem 0.625rem 0.9375rem 8.75rem;
      width: 100%;
      img {
        max-width: 6.6875rem;
      }
      h3 {
        font-size: 2.1875rem;
      }
      span {
        font-size: 0.9375rem;
      }
    }
  }
  .banner-img {
    .banner-img-shape {
      bottom: 4.375rem;
      img {
        max-width: 8.125rem;
      }
    }
  }

  .banner-content {
    p {
      font-size: 1rem;
    }
  }

  .blog-card {
    .content {
      padding: 1.875rem 1.5625rem;
    }
  }

  .about-content-2 {
    .about-card {
      .content {
        h3 {
          font-size: 1.25rem;
        }
      }
    }
  }

  .about-img {
    &::before {
      right: -1.25rem;
    }
  }

  .choose-content {
    .choose-content-card {
      .content {
        padding-left: 3.75rem;
        i {
          font-size: 2.8125rem;
        }
        h3 {
          font-size: 1.25rem;
          margin-top: 0;
          margin-bottom: 0.9375rem;
        }
      }
    }
  }

  .services-card {
    padding: 1.875rem 1.25rem 1.5625rem;
    h3 {
      font-size: 1.25rem;
    }
  }
  .service-shape {
    img {
      max-width: 17.5rem;
    }
  }

  .services-item {
    .content {
      width: 95%;
      padding: 1.25rem 0.9375rem 1.25rem 5.75rem;
      h3 {
        font-size: 1.25rem;
      }
    }
  }

  .call-contact {
    p {
      font-size: 1.125rem;
    }
  }

  .work-process-left {
    padding: 10.625rem 1.5625rem;
  }
  .work-process-card {
    padding: 1.875rem 1.25rem;
    h3 {
      font-size: 1.25rem;
    }
  }

  .work-shape {
    img {
      max-width: 60.9375rem;
    }
  }

  .counter-shape {
    .shape1 {
      img {
        max-width: 10rem;
      }
    }
    .shape2 {
      img {
        max-width: 10rem;
      }
    }
  }

  .counter-another-content {
    padding-left: 5.3125rem;
    span {
      font-size: 0.9375rem;
    }
  }

  .client-circle {
    .client-circle-2 {
      top: 30%;
    }
  }
  .clients-area {
    .owl-nav {
      .owl-prev {
        left: -1.25rem;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem !important;
      }
      .owl-next {
        right: -1.25rem;
        width: 2.1875rem;
        height: 2.1875rem;
        line-height: 2.1875rem !important;
      }
    }
  }

  .call-shape {
    .shape1 {
      left: 1.25rem;
    }
    .shape2 {
      right: 0;
      img {
        max-width: 6.25rem;
      }
    }
    .shape2-rs {
      right: 1.5625rem;
      img {
        max-width: 7.5rem;
      }
    }
  }

  .client-circle {
    .client-circle-1 {
      left: 2.8125rem;
    }
    .client-circle-3 {
      top: 87%;
      left: 2%;
    }
    .client-circle-6 {
      top: 87%;
      right: 1.25rem;
    }
  }

  .footer-widget {
    .footer-list {
      li {
        a {
          color: #ffffff;
          font-weight: 400;
          font-size: 0.875rem;
          i {
            margin-right: 0;
            font-size: 1rem;
          }
        }
      }
    }
    .footer-call-content {
      h3 {
        font-size: 1.25rem;
      }
      i {
        top: 0.9375rem;
      }
    }
    .footer-blog {
      li {
        padding-left: 5rem;
        img {
          height: 4.0625rem;
          width: 4.0625rem;
        }
        .content {
          h3 {
            font-size: 0.8125rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .service-shape {
    img {
      max-width: 31.25rem;
    }
  }
  .counter-shape {
    .shape1 {
      img {
        max-width: 100%;
      }
    }
    .shape2 {
      img {
        max-width: 100%;
      }
    }
  }
  .client-circle {
    .client-circle-1 {
      left: 5%;
    }
    .client-circle-2 {
      left: 15%;
    }
    .client-circle-3 {
      left: 5%;
    }
    .client-circle-4 {
      right: 30%;
    }
    .client-circle-5 {
      right: 15%;
    }
    .client-circle-6 {
      right: 5%;
    }
    .client-circle-7 {
      right: 45%;
    }
  }
  .banner-slider-area {
    .owl-dots {
      right: 20%;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1299px) {
  .clients-area {
    .owl-nav {
      .owl-prev {
        left: -2%;
      }
      .owl-next {
        right: -2%;
      }
    }
  }
  .about-img {
    &::before {
      right: -1.25rem;
    }
  }

  .call-shape {
    .shape2 {
      right: -0.625rem;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 82.9375rem;
  }
  .container-max {
    max-width: 82.9375rem !important;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  .client-circle {
    .client-circle-1 {
      left: 5%;
    }
    .client-circle-2 {
      left: 15%;
      top: 17%;
    }
    .client-circle-3 {
      left: 5%;
    }
    .client-circle-4 {
      right: 30%;
    }
    .client-circle-5 {
      right: 15%;
    }
    .client-circle-6 {
      right: 5%;
    }
    .client-circle-7 {
      right: 45%;
    }
  }
}

@media only screen and (max-width: 991px) {
  .mobile-nav nav .navbar-nav {
    overflow-y: scroll;
  }
  // .side-bar-area {
  //   margin-left: 0;
  // }
  // .side-bar-widget {
  //   border: 0.0625rem solid #f3f3f3;
  //   padding: 1.25rem;
  //   margin-bottom: 1.875rem;
  //   .side-bar-categories {
  //     margin-bottom: 0;
  //   }
  //   .side-bar-widget-tag {
  //     margin-bottom: 0;
  //   }
  //   .blog-gallery {
  //     margin-bottom: 0;
  //   }
  //   .widget-popular-post {
  //     margin-bottom: 0;
  //   }
  // }
  // .call-shape {
  //   display: none;
  // }
  // .call-contact {
  //   text-align: center;
  //   padding: 3.125rem 0 1.875rem;

  //   h3 {
  //     font-size: 1.125rem;
  //   }
  //   .call-btn {
  //     font-size: 1.625rem;
  //   }
  //   p {
  //     font-size: 1rem;
  //     margin-bottom: 1.25rem;
  //   }
  // }
  // .contact-info {
  //   ul {
  //     li {
  //       display: inline-block;
  //       margin-right: 1.25rem;
  //       &:last-child {
  //         margin-right: 0;
  //       }
  //     }
  //   }
  // }
}
